<!-- Какой была самая дорогая покупка в твоей жизни?
Если бы ты была обязана поменяться жизнью с кем-то из этой комнаты, кого бы выбрала?
Какой самый безумный поступок ты совершила?
Что ты будешь делать, если узнаешь, что умрешь через сутки?
Когда ты последний раз лгала?
Что самое худшее ты делала на работе?
Почему ты последний раз плакала?
Чего ты больше всего боишься?
Какой фантазией ты ни с кем не делилась?
У тебя есть фетиши?
Что ты последний раз искала в соцсетях?
Какую твою тайну не знает твоя семья, чему ты очень рада?
Что самое постыдное ты делала?
Каким было самое странное место, где ты ходила в туалет?
Кто был последним человеком, которого ты обманула?
Какой свой секрет ты никому не рассказывала?
У тебя есть тайный талант?
Что было худшим поступком в твоей жизни?
 Что самое странное ты когда-либо ела?
Что разрушило твои последние распавшиеся отношения?
В какую знаменитость ты влюблялась?
Что ты думаешь о полиамории?
Кто был твоим первым мужчиной?
Каким был худший секс в твоей жизни?
Каким был лучший секс в твоей жизни?
Ты когда-нибудь списывала на экзамене?
Если бы ты должна была участвовать в реалити-шоу, то какое выбрала бы?
Что ты делала, когда была пьянее всего в жизни?
Ты когда-нибудь нарушала закон?
Какой самый неловкий поступок ты совершила?
Ты дружила с кем-нибудь ради выгоды?
Что было самой большой ошибкой в твоей жизни?
Кого ты хотела бы поцеловать в этой комнате?
Какой самый отвратительный поступок по отношению к тебе совершали другие люди?
Что самое лучшее делали для тебя близкие?
У тебя были проблемы с законом?
Какая твоя самая худшая привычка, о которой ты никому не рассказываешь?
О чем был твой самый странный сон?
Каким было твое худшее свидание?
Каким было твое лучшее свидание?
О чем ты больше всего сожалеешь?
Какое самое большое заблуждение о тебе есть у других людей?
Что ты хотела бы, чтобы все знали о тебе?
Каким было самое странное место, где у тебя был секс?
Ты когда-нибудь лгала, чтобы не ходить на свидание?
Какой совет из тех, что тебе дали, был лучшим?
Ты когда-нибудь передаривала подарки?
Какое твое самое постыдное удовольствие?
Если бы ты должна была вернуться к одному из бывших, то кого выбрала  бы?
Если бы тебе надо было вычеркнуть из жизни одного человека, кого ты выбрала бы?
Кто твоя лучшая подруга?
Кого из членов семьи ты больше всего любишь?
Какой самый странный слух о тебе придумывали люди?
Какой была самая глупая причина твоего опоздания?
Какую часть своего тела ты считаешь самой сексуальной?
Кого в этой комнате ты считаешь самым красивым?
На что бы ты потратила миллион рублей?
Ты когда-нибудь изменяла?
Какие три желания ты загадала бы джину?
Кому ты пишешь сообщения чаще всего? -->

{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Creating Post{% endblock %}

{% load static %}

{% block content_blog %}
<div class="post post-create alert alert-info text-center">

    <h2 class="title">What do you want to offer?</h2><br>

    <form action="{% url 'create_post' %}" method="POST" class="dropzone" enctype="multipart/form-data">

        {% csrf_token %}

        <div>
            {{formset.media}}

            {{formset|crispy}}
        </div>

        <input type="file" name="image_upload" class="input-save-post">

        <br><input type="submit" value="SAVE" class="btn check-data"><br>
        
    </form>

</div>
{% endblock %}

