{% extends "blog/base.html" %}

{% block title %}Posts{% endblock %}

{% block content_blog %}
    <!-- Script Likes -->

    {% include "blog/like.html" %}

    <div>
        
        {% for message in messages %}
                
            {% if message.tags == 'alert-success' %}
                <h5 class="warning-message"><i class="wave-icon fa-solid fa-circle-dot"></i> {{ message }}</h5>

            {% else %}
                <h5 class="warning-message"><i class="success-icon fa-solid fa-circle-check"></i>  {{ message }}</h5>

            {% endif %}

        {% endfor %}

        <div class="form-logging text-center">
        
            <a href="{% url 'top_posts' %}" class="none-a text-center category-post">
                <div id="top">
                    <i class="wave-icon fa-solid fa-arrow-up-right-from-square"></i> Top Posts
                </div>
            </a>
            <a href="{% url 'posts_feed' %}" class="none-a text-center category-post">
                <div id="feed">
                    <i class="fa-brands fa-ioxhost success-icon"></i> All Posts
                </div>
            </a>
            <a href="{% url 'like_posts' %}" class="none-a text-center category-post">
                <div id="like">
                    <i class="fa-regular fa-heart danger-icon"></i> Liked Posts
                </div>
            </a>
        </div>
    </div>
    
    {% if all_posts|length > 0 %}
        {% for post in all_posts %}
            <!-- Post model -->
            {% include "blog/post_model.html" with post=post %}
        {% endfor %}

        {% if end_page %}
            <button class="btn check-data" id="loadmoreBtn">
                Next Page
            </button>
        {% endif %}
    {% else %}
        <h5 class="warning-message"><i class="wave-icon fa-solid fa-circle-dot"></i> К сожалению, больше постов нет...</h5>
    {% endif %}

<script>
    function checkCategory() {
        if (location.pathname === '{% url "posts_feed" %}'){
            const feed_classes = document.getElementById("feed").classList;
            feed_classes.add("chosen-catagory")
            return 1;
        } else if (location.pathname === '{% url "top_posts" %}'){
            const top_classes = document.getElementById("top").classList;
            top_classes.add("chosen-catagory")
            
            return 2;
        } else if (location.pathname === '{% url "like_posts" %}'){
            const like_classes = document.getElementById("like").classList;
            like_classes.add("chosen-catagory")
            
            return 3;
        }
    }

    checkCategory();

    $(document).ready(function() {
        $("#loadmoreBtn").on('click', function(){
            _info = checkCategory();
            
            if (_info == 1){
                location.href = '/{{page}}';
            }
            else if (_info == 2){
                location.href = '/top_posts/{{page}}';
            }
            else if (_info == 3){
                location.href = '/like_posts/{{page}}';
            }
        });
    });


</script>

{% endblock %}