{% extends "blog/base.html" %}

{% block title %}Posts{% endblock %}

{% block content_blog %}
    <!-- Script Likes -->

    {% include "blog/like.html" %}

    <div>
        <div class="warning-message">
            <h3>Tasks</h3>
            <h5>1 - pagination by url</h5>
            <h5>2 - delete completed tasks</h5>
            <h5>3 - button all posts</h5>
        </div>
        {% for message in messages %}
                
            {% if message.tags == 'alert-success' %}
                <h5 class="warning-message"><i class="wave-icon fa-solid fa-circle-dot"></i> {{ message }}</h5>

            {% else %}
                <h5 class="warning-message"><i class="success-icon fa-solid fa-circle-check"></i>  {{ message }}</h5>

            {% endif %}

        {% endfor %}

        <div class="form-logging text-center">
        
            <a href="{% url 'top_posts' %}" class="none-a text-center category-post">
                <i class="just-icon fa-solid fa-arrow-up-right-from-square"></i> Top Posts
            </a>
            <a href="{% url 'posts_feed' %}" class="none-a text-center category-post">
                <i class="fa-brands fa-ioxhost success-icon"></i> All Posts
            </a>
            <a href="{% url 'top_posts' %}" class="none-a text-center category-post">
                <i class="fa-regular fa-heart danger-icon"></i> Liked Posts
            </a>

        </div>

        
    </div>
    
    {% if all_posts|length > 0 %}
        {% for post in all_posts %}
            <!-- Post model -->
            {% include "blog/post_model.html" with post=post %}
        {% endfor %}

        {% if end_page %}
            <button class="btn check-data" id="loadmoreBtn">
                Next Page
            </button>
        {% endif %}
    {% else %}
        <h5 class="warning-message"><i class="wave-icon fa-solid fa-circle-dot"></i> К сожалению, больше постов нет...</h5>
    {% endif %}

<script>
    function checkCategory() {
        if (location.pathname === '{% url "posts_feed" %}'){
            return 1;
        } else if (location.pathname === '{% url "top_posts" %}'){
            return 2;
        }
    }

    checkCategory();

    $(document).ready(function() {
        $("#loadmoreBtn").on('click', function(){
            _info = checkCategory();
            
            if (_info == 1){
                location.href = '/{{page}}';
            }
            else if (_info == 2){
                location.href = '/top_posts/{{page}}';
            }
        });
    });


</script>

{% endblock %}