{% extends "blog/base.html" %}

{% block title %}Profile{% endblock %}

{% block content_blog %}


<div class="avatar">
   
    <div class="container">

        <div class="box">
            
            <a href="{{ student.profile_img.url }}">
                <div class="box-image">

                    <div class="content-image">
                        <img src="{{ student.profile_img.url }}" alt="None" class="img-user">
                    </div>
                </div>
            </a>
            <div class="box-info-user">
                <h3 class="name-user">{{ student.user.username }}, </h3>
                <h2 class="bio">{{ student.grade }}</h2>
            </div> 
    
        </div>
    </div>  



    <div class="b-container success text-center col-5 col-lg-3"> 

        <a href="javascript:PopUpShow2th()">Certificates</a>

    </div>

    <div class="b-popup" id="popup2">

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>
        
        <div class="b-popup-content">
            <div class="container m-auto"> 
                <br>
                <div class="grid lg:grid-cols-3 mt-12 gap-8 ">
        
                    <div class="rounded-md lg:shadow-lg shadow col-span-2 success-bpopup">
                        <h1 class="process">Certificates</h1>
                        {% for certificate in certificates %}
                            <form class="form-sending" action="{% url 'show_pdf' certificate.date_begin certificate.date_end %}">
                                <p class="date-range">Begin - {{certificate.date_begin}}</p>
                                <p class="date-range">End - {{certificate.date_end}}</p>
                                <button type="submit" class="check-data">Open</button>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="b-container statistics text-center col-5 col-lg-3"> 

        <a href="javascript:PopUpShow3th()">Statistics</a>

    </div>

    <div class="b-popup" id="popup3">

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>
        
        <div class="b-popup-content">
            <div class="container m-auto"> 
                <br>
                <div class="grid lg:grid-cols-3 mt-12 gap-8 ">
        
                    <div class="rounded-md lg:shadow-lg shadow col-span-2 grade-bpopup">
                        <div class="text-center" data-action="add_mark">
                            <p class="add-mark">
                                <i class="fa-solid fa-circle-plus success-icon"></i>
                                Я получил 5..)
                            </p>
                            <p data-count="marks" class="amount-mark">{{student.get_amount_marks}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-container settings text-center col-5 col-lg-3"> 

        <a href="javascript:PopUpShow4th()">Settings</a>

    </div>
    
    <div class="b-popup" id="popup4">

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>

        <div class="b-popup-content">
            <div class="container m-auto"> 
                <br>
                <div class="grid lg:grid-cols-3 mt-12 gap-8 ">
        
                    <div class="rounded-md lg:shadow-lg shadow col-span-2">
                        
                    <form action="" method="POST" class="data-settings" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">

                            <div class="col-span-2">
                                <label for=""> Profile Image</label>
                                <img width="100" height="100" src="{{student.profile_img.url}}" />
                                <input type="file" name="image" value="" class="shadow-none input-save">
                            </div>
                            
                            
                        </div> 
        
                        <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                            <button type="submit" class="button bg-blue-700 btn-save-settings"> Save </button>
                        </div>
                    </form>
        
                    </div>
        
                </div>
                <br>
        
            </div>
        </div>
    </div>
</div> 

<hr>

<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы    
        PopUpHide();
    });

    function PopUpShow4th(){
        $("#popup4").show();

        $("#popup1").hide();
        $("#popup2").hide();
        $("#popup3").hide();
        $("#popup5").hide();
        $("#popup6").hide();
    }

    function PopUpShow3th(){
        $("#popup3").show();

        $("#popup1").hide();
        $("#popup2").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#popup6").hide();
    }

    function PopUpShow2th(){
        $("#popup2").show();

        $("#popup1").hide();
        $("#popup3").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#popup6").hide();
    }

    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();
        $("#popup2").hide();
        $("#popup3").hide();    
        $("#popup4").hide();
        $("#popup5").hide();
        $("#popup6").hide();

        $("#PopUpShow2ndPosts").hide();
        $("#PopUpShow2ndComments").hide();
    }

    function add_mark()
    {        
        var current = $(this);

        $.ajax({
            url : "/mark",
            type : 'POST',
            data : {},
     
            success : function (json) {
                //alert("SUCCESS")             
                current.find("[data-count='marks']").text(json.count);
                //alert(json.count)
            },

        });
     
        return false;
    }
    $(function() {
        // Лайк
        $('[data-action="add_mark"]').click(add_mark);
    });

</script>

{% endblock %}